*{
    max-width: 1140px;
    margin: auto;
    
    
    
}
body {background-color: #eeeeee;
    font-family: 'Montserrat',sans-serif;
   
}
#inicio{
    background-image:url(../images/fondos/Fondos-01.png);
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: 100%;
    height: 100%;
    
    
}
 h1{
    font-weight: bold !important;
    font-size: 55px !important;
    

}
.container-fluid {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
   
    
}
h2 {
    font-size: 24px;
    margin-left: 0px !important;
    
}
section .col-12 {
    margin-left: 0px !important;
    margin-top: 0px !important;
}
section .col-5{
    margin-left: 0px !important;
    margin-top: 15px !important;
}
a{
color: #000000;
text-decoration: underline;
}
nav{
    display: block;
    
}
nav ul{
    display: inline;
    margin:10px 20px 10px 30px !important;
    
}
nav .nav-item {
    display: inline-block;
    width: 350px !important;
    padding: 20px !important;
    
}
nav .nav-link{
    color: #4b4b4b !important;
    text-decoration:none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}
nav .nav-link:hover{
    color: black;
    text-decoration:underline;
    font-weight: bold;
}
nav .active a {
    text-decoration:underline;
    font-weight: bold;

    

}
.form-control{
    background-color: #eeeeee;
    border:none;
    border-bottom: 2px solid;
    border-radius: 0;
    
}
.btn{
   background-color: black;
   font-weight: 500;
    border-radius: 0%;
   color: white;
   margin-bottom: 5vh!important;
   
}
.btn:hover{
    background-color:#ffffff;
   
}

textarea{
    resize: none;
    height:40vh !important;

}

footer{
    display:block;
    max-width: 1140px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    height: 18vh;
    margin-top: 1em;
    width: 100%;
    
}


footer a {
    color:#000000;
    text-decoration: underline; 
    font-weight: bolder;
    
 
}
.img-fluid{
    margin: 0.3em 0.2em;
    display: block;
    background-color: #000000;
    padding: 10px;
    box-shadow: inset 5px 5px 10px 0px rgba(209,209,209,0.63);
    border-radius: 30%;
}

.fab { 
    font-size: 30px ;
    border: 1px solid;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 10px 0 0 0;
    border: 80px;
    max-width: 0 15px;
    border-radius: 50px;
    line-height:3;
    margin: 5px;
       
}
footer .img-cicle{
    border: 1px solid;
    font-size: 40px;
    border-radius: 100%;
}
footer .text-left {
    padding-top: 30px !important;
    text-align: center !important;
    
}
footer .text-right{
    padding-top: 30px !important;
    text-align: center !important;
    
}
#sobre-mi .bg-white{
    min-height: 300px;
    width:95%; 
    height: 300px;
    margin:10px 5px;
    
}
#sobre-mi i {
    background-color: black;
    color: white;
    padding: 30px;
    font-size: 40px;
}
#experiencia {
    max-width: 1140;
    width: 100%;
    background-color: rgb(45, 45, 45);
    padding-top: 0px !important;
    margin: 0px !important;
    max-width: 1140;
    height: 90vh;
}

#experiencia h2 {
        color: white;
        font-size: 45px;}
#experiencia h3 {
        color: white;
        font-size: 20px;
    }  
#experiencia h4 {
        color: white;
        font-size: 18px;
        font-weight: normal;
    }
    
    
    @media (min-width: 300px) and (max-width: 900px) {
        nav {
            background-color:white;
            width: 100%; 
                             
        }
        
           
}

        